# Path to database .db (If not set this var then Path will be "project_root/database/data/sample.db")
DATABASE_ABSOLUTE_PATH=/path/to/database.db

# Master token for api authorization (From fastauth-api)
MASTER_TOKEN=<YOUR_MASTER_TOKEN_HERE>